<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="__STATIC__/layer/layer.js"></script>
    <title>支付成功</title>
    <style>
        .zfcg_success{width: 80%;margin: 0 auto;padding-top: 30px;}
        .zfcg_success img{width: 60px;height: 60px;margin-left: 39%}
        .zfcg_success p{text-align: center;font-size: 22px;}
        .fhsy_div{background-color: #0FBD30;color: #fff;text-align: center;line-height: 38px;margin-top: 50px;}
        a{text-decoration:none;}
    </style>
</head>
<body>
    <div class="zfcg_success">
        <img src="__STATIC__/index/images/success.png">
        <p>购买成功!</p>
        <a href="/"><div class="fhsy_div">返回首页</div></a>
    </div>
</body>
</html>