  {:widget("Last/header")}

<div class="page-banner"><div class="page-wb"><h2>帮助中心</h2></div></div>
<div class="page-about">
    <div class="page-menu">
        <ul>
                  <li><a href="/index/index/vip">会员相关</a></li>
        	     <li ><a href="/index/index/about">关于我们</a></li>
                    <li ><a href="/index/index/copyright">免责声明</a></li>
                    <li class="on"><a href="/index/index/contact">联系我们</a></li>
                    <li ><a href="/index/index/ad">广告合作</a></li>
                    <li ><a href="/index/index/down">本站程序</a></li>
        	        </ul>
    </div>
   <div class="page-body">
        <div class="layui-about">
            <p>客服联系QQ ： &nbsp;405527089</p><p>联系 EMAIL &nbsp;： &nbsp;405527089#qq.com（#=@）</p><p>任何问题加客服后请直接留言，如未及时回复，请耐心等待。</p><p>本站是源码分享平台，资源均为会员分享，码农网进行审核，并没有售后以及安装服务，请悉知！所有资源是针对有一定技术基础人员，研究学习使用。</p><p><br></p>        </div>
    </div>
    </div>
  
  {:widget("Last/footer")}
