<!doctype html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Document</title>
		<link rel="stylesheet" href="/static/foot/css/mui.min.css">
		<link rel="stylesheet" href="/static/foot/css/zq.css">
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<style>
			.clk {
				background: red;
			}
		</style>
	</head>

	<body>
		<div id="goodcover" style="display: block;"></div>
		<div class="code" class="code" style="display: block;">
			<div class="close1">
				<a href="javascript:void(0)" id="closebt"></a>
			</div>
			<div class="goodtxt">
				<p>{$g.main}vs{$g.visit}</p>
				<p class="em">篮球区域可投单关</p>
			</div>
			<div class="code-img">

				<div class="vstit-fr">
					<div class="topa a">
						<b class="brq">非让球</b>
						<div class="fr">
							{php} $main_let=explode(",",$g['main_let']);{/php}
							<div onclick="checkr($(this))">胜<em>{$main_let[0]}</em></div>
							<div onclick="checkr($(this))">平<em>{$main_let[1]}</em></div>
							<div onclick="checkr($(this))">负<em>{$main_let[2]}</em></div>
						</div>
					</div>
				</div>
				<div class="vstit-fr">
					<div class="topa a">
						<b class="zhu">主</br>-1</b>
						<div class="fr">
							{php} $visit_let=explode(",",$g['visit_let']);{/php}
							<div>胜<em>{$visit_let[0]}</em></div>
							<div>平<em>{$visit_let[1]}</em></div>
							<div>负<em>{$visit_let[2]}</em></div>
						</div>
					</div>
				</div>
				<div class="vstit-fr">
					<div class="topa f">
						<div class="zhu">猜比分</div>
						<div class="fr">
							{php}$score=explode(",",$g['win']);{/php}
							<div data-score="{$score[0]}">1:0<br/><em>{$score[0]}</em></div>
							<div>2:0<br/><em>{$score[1]}</em></div>
							<div>2:1<br/><em>{$score[2]}</em></div>
							<div>3:0<br/><em>{$score[3]}</em></div>
							<div>3:1<br/><em>{$score[4]}</em></div>
							<div>3:2<br/><em>{$score[5]}</em></div>
							<div>4:0<br/><em>{$score[6]}</em></div>
							<div>4:1<br/><em>{$score[7]}</em></div>
							<div>4:2<br/><em>{$score[8]}</em></div>
							<div>5:0<br/><em>{$score[9]}</em></div>
							<div>5:1<br/><em>{$score[10]}</em></div>
							<div>5:2<br/><em>{$score[11]}</em></div>
							<div class="san">胜其他<br/><em>{$score[12]}</em></div>
							<div>0:0<br/><em>{$score[13]}</em></div>
							<div>1:1<br/><em>{$score[14]}</em></div>
							<div>2:2<br/><em>{$score[15]}</em></div>
							<div>3:3<br/><em>{$score[16]}</em></div>
							<div>平其他<br/><em>{$score[17]}</em></div>
							<div>0:1<br/><em>{$score[18]}</em></div>
							<div>0:2<br/><em>{$score[19]}</em></div>
							<div>1:2<br/><em>{$score[20]}</em></div>
							<div>0:3<br/><em>{$score[21]}</em></div>
							<div>1:3<br/><em>{$score[22]}</em></div>
							<div>2:3<br/><em>{$score[23]}</em></div>
							<div>0:4<br/><em>{$score[24]}</em></div>
							<div>1:4<br/><em>{$score[25]}</em></div>
							<div>2:4<br/><em>{$score[26]}</em></div>
							<div>0:5<br/><em>{$score[27]}</em></div>
							<div>1:5<br/><em>{$score[28]}</em></div>
							<div>2:5<br/><em>{$score[29]}</em></div>

							<div class="san">负其他<br/><em>{$score[30]}</em></div>
						</div>
					</div>
				</div>
				<div class="vstit-fr">
					<div class="topa s">
						<div class="zhu">进球数</div>
						<div class="fr">
							{php}$goal=explode(",",$g['goal']);{/php}
							<div>1:0<br/><em>{$goal[0]}</em></div>
							<div>2:0<br/><em>{$goal[1]}</em></div>
							<div>2:1<br/><em>{$goal[2]}</em></div>
							<div>3:0<br/><em>{$goal[3]}</em></div>
							<div>1:0<br/><em>{$goal[4]}</em></div>
							<div>2:0<br/><em>{$goal[5]}</em></div>
							<div>2:1<br/><em>{$goal[6]}</em></div>
							<div>3:0<br/><em>{$goal[7]}</em></div>
						</div>
					</div>
				</div>
				<div class="vstit-fr">
					<div class="topa f">
						<div class="zhu" style="height: 101px;">半全场</div>
						<div class="fr">
							{php}$half=explode(",",$g['half']);{/php}
							<div>胜胜<br/><em>{$half[0]}</em></div>
							<div>胜平<br/><em>{$half[1]}</em></div>
							<div>胜负<br/><em>{$half[2]}</em></div>
							<div>平胜<br/><em>{$half[3]}</em></div>
							<div>平平<br/><em>{$half[4]}</em></div>
							<div>平负<br/><em>{$half[5]}</em></div>
							<div>负胜<br/><em>{$half[6]}</em></div>
							<div>负平<br/><em>{$half[7]}</em></div>
							<div>负负<br/><em>{$half[8]}</em></div>
						</div>
					</div>
				</div>
			</div>
			<div class="butomdiv">
				<div class="butqx">取消</div>
				<div class="butqd">确定</div>
			</div>
		</div>
	</body>

</html>
<!--<script>-->
<!--function closes() {-->
var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引 parent.layer.close(index); //再执行关闭
<!--}-->

<!--function checkr(obj) {-->
<!--alert(123);return;-->
<!--var bl = obj.hasClass("clk");-->
<!--// if (bl=="true") {//有-->
<!--//     obj.removeClass("clk");-->
<!--// } else {-->
<!--//     obj.addClass("clk");-->
<!--// }-->
<!--}-->
<!--</script>-->