{extend name='admin@public/content'}

{block name="button"}

<!--{if auth("$classuri/add")}-->
<!-- <button data-modal='{:url("@$classuri/add")}' data-title="添加链接" class='layui-btn layui-btn-sm layui-btn-primary'>添加链接</button> -->
<!--{/if}-->

<!--{if auth("$classuri/del")}-->
<!-- <button data-update="" data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-sm layui-btn-primary'>删除链接</button> -->
<!--{/if}-->

{/block}

{block name="content"}

<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">标题</label>
        <div class="layui-input-inline">
            <input name="goods_title" value="{$Think.get.goods_title}" placeholder="请输入产品标题" class="layui-input">
        </div>
    </div>

   

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">审核时间</label>
        <div class="layui-input-inline">
            <input name="addtime" id="addtime" value="{$Think.get.addtime}" placeholder="请选择添加时间" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>

<script>
    window.laydate.render({range: true, elem: '#addtime'});
    window.form.render();
</script>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    {if empty($list)}
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    {else}
    <input type="hidden" value="resort" name="action"/>
    <table class="layui-table" lay-skin="line">
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none="none" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='list-table-sort-td'>
                <button type="submit" class="layui-btn layui-btn-normal layui-btn-xs">排 序</button>
            </th>
            <th class='text-left nowrap'>产品名称</th>
            <th class='text-left nowrap'>产品封面</th>
            <th class='text-left nowrap'>用户名称</th>
            <th class='text-left nowrap'>用户头像</th>
            <th class='text-left nowrap'>评论内容</th>
            <th class='text-left nowrap'>评论时间</th>
            <th class='text-left nowrap'>会员等级</th>
            <th class='text-left'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td think-checkbox'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
            </td>
            <td class='list-table-sort-td'>
                <input name="_{$vo.id}" value="{$vo.sort}" class="list-sort-input"/>
            </td>
            <td class='text-left nowrap'>{$vo.goods_title}</td>
            <td class='text-left nowrap'><img src="{$vo.goods_logo}" style="width:60px;height:40px;"></td>
            <td class='text-left nowrap'>{$vo.username}</td>
            <td class='text-left nowrap'><img src="{$vo.userpic}" style="width:60px;height:40px;"></td>
            <td class='text-left nowrap'>{$vo.comments}</td>
            <td class='text-left nowrap'>{$vo.addtime}</td>
              <td class='text-left nowrap'>
                {if $vo['members']==1}
                普通会员
                {else/ if $vo['members']==2}
                钻石会员
                {/if}
            </td>
            <td class='text-left nowrap'>
                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action="/store/Audit/comdelete?id={$vo.id}">删除</a>
                {/if}

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    {/if}
</form>
{/block}