<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购买VIP</title>
    <link rel="stylesheet" href="__STATIC__/foot/css/zq.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="__STATIC__/layer/mobile/layer.js"></script>

</head>
<body>
<ul>
    <li>产品：{$order.title}</li>
    <li>价格：{$order.price}</li>
</ul>
<input type="button" value="购买" class="but" data-rid="{$order.id}">
</body>
</html>
<script>
    $(function () {
        $(".but").click(function () {
            layer.open({
                content: '支付成功'
                , skin: 'msg'
                , time: 2 //2秒后自动关闭
            });
            setTimeout(function () {
                window.location.href = '/member';
            }, 666);
        });
    });
</script>